
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 350px;
  max-width: 350px;
  font-size: .875rem;
  background-color: hsla(0,0%,100%,.85);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  display: block;
  backface-visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: all .5s;
}

.toast__header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: hsla(0,0%,100%,.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.toast__body {
  padding: 0.75rem;
}

.toast--success {
  border-color: rgba(195,230,203,.85);
  background-color: #e6f5e9;
  color: #155724;
}

.toast--success .toast__header {
  color: #155724;
  background-color: rgba(212,237,218,.85);
  border-bottom-color: rgba(195,230,203,.85);
}
